<!DOCTYPE html>
<html lang="en" style="height: 100%;">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Solipnet Browser</title>
  <link href="{{ url_for('static', filename='css/tailwind.min.css') }}" rel="stylesheet">
</head>

<body class="bg-gray-900 h-full">
  <div class="bg-gray-400">
    <h3 id="title" class="text-xl py-2 text-center">Solipnet Search Engine</h3>
  </div>
  <div class=" bg-gray-100 p-4 flex items-center">
    <div class="space-x-2 flex">
      <button id="btnHome" class="p-2 bg-gray-300 rounded-full focus:outline-none focus:bg-gray-400">
        🏠
      </button>
      <button class="p-2 bg-gray-300 rounded-full focus:outline-none focus:bg-gray-400">
        &#9664; <!-- Left arrow -->
      </button>
      <button class="p-2 bg-gray-300 rounded-full focus:outline-none focus:bg-gray-400">
        &#9654; <!-- Right arrow -->
      </button>
    </div>
    <input id="url" type="text" placeholder="Enter URL"
      class="flex-1 ml-4 p-2 rounded border border-gray-300 focus:border-blue-500" value="solipsearch.com">
    <button id="btnGo" class="ml-4 p-2 bg-blue-500 text-white rounded focus:outline-none">
      Go
    </button>
  </div>

  <div class="flex-grow p-4 bg-white" style="height: calc(100% - 74px);">
    <iframe id="viewport" src="/browse" style="width: 100%; height: 100%; border: none;"></iframe>
  </div>

  <script>
    const viewport = document.getElementById('viewport');
    const url = document.getElementById('url');
    const title = document.getElementById('title');
    const btnGo = document.getElementById('btnGo');
    const btnHome = document.getElementById('btnHome');

    function formatUrl() {
      let currentUrl = viewport.contentWindow.location.href;
      if (currentUrl === 'http://127.0.0.1:5000/browse') currentUrl = 'solipsearch.com';
      else {
        if (currentUrl.startsWith('http://127.0.0.1:5000/browse/')) {
          currentUrl = currentUrl.replace('http://127.0.0.1:5000/browse/', '');
          url.value = currentUrl;
        }
      }
    }

    document.addEventListener('DOMContentLoaded', () => {
      viewport.addEventListener('load', function () {
        let currentUrl = viewport.contentWindow.location.href;
        pageTitle = viewport.contentWindow.document.title;
        console.log('Page title: ' + pageTitle);
        title.innerHTML = pageTitle;
        formatUrl();
      });
    });

    // Set the iframe URL when the go button is pressed
    btnGo.addEventListener('click', () => {
      if (url.value == 'solipsearch.com') {
        viewport.contentWindow.location.href = 'http://127.0.0.1:5000/browse';
        url.value = 'solipsearch.com';
      }
      else viewport.contentWindow.location.href = 'http://127.0.0.1:5000/browse/' + url.value;
    });

    btnHome.addEventListener('click', () => {
      viewport.contentWindow.location.href = 'http://127.0.0.1:5000/browse';
      url.value = 'solipsearch.com';
    });

    url.addEventListener('keydown', function (event) {
      if (event.key === 'Enter') btnGo.click();
    })
  </script>
</body>

</html>