<!DOCTYPE html>
<html lang="en" style="height: 100%;">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Solipnet Browser</title>
  <link href="{{ url_for('static', filename='css/tailwind.min.css') }}" rel="stylesheet">
</head>

<body class="bg-gray-900 h-full">
  <div class=" bg-gray-100 p-4 flex items-center">
    <div class="space-x-2 flex">
      <button class="p-2 bg-gray-300 rounded-full focus:outline-none focus:bg-gray-400">
        🏠
      </button>
      <button class="p-2 bg-gray-300 rounded-full focus:outline-none focus:bg-gray-400">
        &#9664; <!-- Left arrow -->
      </button>
      <button class="p-2 bg-gray-300 rounded-full focus:outline-none focus:bg-gray-400">
        &#9654; <!-- Right arrow -->
      </button>
    </div>
    <input type="text" placeholder="Enter URL"
      class="flex-1 ml-4 p-2 rounded border border-gray-300 focus:border-blue-500">
    <button class="ml-4 p-2 bg-blue-500 text-white rounded focus:outline-none">
      Go
    </button>
  </div>

  <div class="flex-grow p-4 bg-gray-900" style="height: calc(100% - 74px);">
    <iframe src="/browse" style="width: 100%; height: 100%; border: none;"></iframe>
  </div>
</body>

</html>