<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Solipnet Search Engine</title>
  <link href="{{ url_for('static', filename='css/tailwind.min.css') }}" rel="stylesheet">
</head>

<body class="bg-gray-50 flex items-center justify-center min-h-screen">
  <div class="w-full max-w-lg p-6">
    <form class="bg-white shadow-xl rounded-lg overflow-hidden p-8" action="/browse" method="GET">
      <h1 class="text-2xl font-semibold text-gray-800 mb-4">Solipnet Search</h1>
      <div class="mb-6">
        <input
          class="form-input w-full px-4 py-3 rounded-lg border-gray-300 border-2 border-gray-300 focus:border-indigo-500 focus:ring focus:ring-indigo-500 focus:ring-opacity-50 shadow-sm"
          id="query" name="query" type="text" placeholder="Search for anything...">
      </div>
      <div class="flex justify-end">
        <button
          class="bg-indigo-600 hover:bg-indigo-700 text-white font-bold py-2 px-6 rounded-lg transition duration-150 ease-in-out transform hover:-translate-y-1 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-opacity-50"
          type="submit">
          Search
        </button>
      </div>
    </form>
  </div>
</body>

</html>